<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Playground Colors</h3>

      <div class="container text-center">

        <div class="row mx-1 my-1">
          <div class="col bg-primary ms-1">
            <h4 class="text-white">Primary</h4>
          </div>
          <div class="col bg-secondary ms-1">
            <h4>Secondary</h4>
          </div>
          <div class="col bg-info ms-1">
            <h4>Info</h4>
          </div>
        </div>


        <div class="row mx-1 my-1">
          <div class="col bg-tertiary ms-1">
            <h4>Tertiary</h4>
          </div>
          <div class="col bg-quaternary ms-1">
            <h4>Quaternary</h4>
          </div>
          <div class="col bg-quinary ms-1">
            <h4>Quinary</h4>
          </div>
        </div>

        <div class="row mx-1 my-1">
          <div class="col bg-accent1 ms-1">
            <h4>Accent 1</h4>
          </div>
          <div class="col bg-accent2 ms-1">
            <h4>Accent 2</h4>
          </div>
          <div class="col bg-accent3 ms-1">
            <h4>Accent 3</h4>
          </div>
        </div>

        <div class="row mx-1 my-1">
          <div class="col bg-dark ms-1">
            <h4 class="text-white">Dark</h4>
          </div>
          <div class="col bg-light ms-1">
            <h4>Light</h4>
          </div>
        </div>

        <div class="row mx-1 my-1">
          <div class="col bg-success ms-1">
            <h4>Success</h4>
          </div>
          <div class="col bg-warning ms-1">
            <h4>Warning</h4>
          </div>
          <div class="col bg-danger ms-1">
            <h4>Danger</h4>
          </div>
        </div>

        <div class="row">
          <div class="col ms-1">
           <h3 class="bg-primary text-light"> Custom Colors </h3>
          </div>
        </div>

        <div class="row mx-1 my-1 align-middle bg-light">
          <div class="col">
            <button type="button" class="btn btn-facebook">Facebook</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-twitter">Twitter</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-linkedin">Linkedin</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-tumblr">Tumblr</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-yahoo">Yahoo</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-youtube">YouTube</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-stack-overflow"><strong>Stack Overflow</strong></button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-reddit"><strong>Reddit</strong></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
